{% extends 'base.html' %} 

{% block content %}

    <p class="lead">GDP by country</p>

    <div id="barchart" class="row">
    
        <div class="col-10">
            {% include 'partials/gdp-bar.html' %}
        </div>
    
        <div class="col-2">
            <form>
                <select id="select-year" 
                    class="custom-select" 
                    name="year" 
                    autocomplete="off"
                    hx-get="{% url  'index' %}"
                    hx-target="#barchart">

                {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
                
                </select>
            </form>
        </div>
    
    </div>

{% endblock %}